@keyframes ldio-qnm5fi8q27p {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}
.ldio-qnm5fi8q27p div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #6c6c6c;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-qnm5fi8q27p div {
  animation: ldio-qnm5fi8q27p 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-me9qr9zffnk {
  width: 34px;
  height: 34px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
}
.ldio-qnm5fi8q27p {
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(0.34);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qnm5fi8q27p div {box-sizing: content-box;}
