
.aws-btn {
  --slider-height-percentage: 50%;
  --slider-transition-duration: 500ms;
  --control-button-background: transparent;
  --control-bullet-color: #676667 !important;
  --control-bullet-active-color: #b5b3b5 !important;
  --loader-bar-color: rgba(133, 21, 21, 0) !important;
  --loader-bar-height: 1px;
}

.awssld {
  &__bullets {
    bottom: 10% !important;
    z-index: 6;
    button {
      width: 1rem !important;
      height: 0.25rem !important;
      border-radius: 0.1rem !important;
    }
  }
  &__controls__arrow-left, &__controls__arrow-right, {
    height: 20px;
  }
  &__controls__arrow-left {
    left: 10px;
  }
  &__controls__arrow-right {
    right: 10px;
  }
}

@media (min-width: 768px) {
  .awssld {
    &__bullets {
      bottom: 5% !important;
    }
  }
}
